.App {
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.sidebar-minimized {
  width: 2em;
  min-width: 0;
}

/* stop react chat widget from blocking clicks if window resized */
.rcw-widget-container {
  pointer-events: none;
}

.rcw-launcher, .rcw-conversation-container {
  pointer-events: auto;
}